/* styles.css */
body {
  width: 1100px;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #333;
  }
  
  .abg {
    display: flex;
    margin-left:640px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .hero {
    position: relative;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 97vw;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .servicios, .sobre {
    width: 85%;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    align-items: center; /* Alinea las imágenes verticalmente al centro */
    margin: 30px 25px 30px 30px;
    padding: 20px;
  }

  .uno {
    font-size: 28px;
  }

  .dos {
    font-size: 16px;
  }

    #sobre {
        background-color: #D1D3CA;
    }
  .sobre ul {
    margin-left: 10px;
    list-style: none;
  }
  #scrollUpBtn, #scrollDownBtn {
    position: fixed;
    right: 20px;
    background-color: #007BFF;
    color: rgb(7, 116, 51);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: none; /* Ocultar inicialmente */
  }
  
  #scrollUpBtn {
    bottom: 80px; /* Posición del botón de desplazamiento hacia arriba */
  }
  
  #scrollDownBtn {
    bottom: 20px; /* Posición del botón de desplazamiento hacia abajo */
  }
  
  #scrollUpBtn:hover, #scrollDownBtn:hover {
    background-color: #0056b3;
  }
/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .hero {
      height: 50vh;
    }
  
    .servicios, .sobre {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .servicios img, .sobre img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* Media Queries para tabletas */
  @media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .hero {
      height: 75vh;
    }
  
    .servicios, .sobre {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .servicios img, .sobre img {
      width: 48%;
      margin-bottom: 20px;
    }
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del div para ocupar toda la pantalla */
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .contacto p, .contacto button {
    margin: 10px;
  }