* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* inicio de header */
.header {
    width: 80%;
    height: 80%;
    background-color: rgb(250, 184, 103);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {
    object-fit: cover;
    height: 100%;
}
/* inicio de nav */
.nav {
    width: 80%;
    height: 3em;
    background-color: rgb(237, 99, 99);
}
/* inicio de banner */

.barnav {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu {
    width: 20%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.menu:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(35, 35, 35);
    transition: 0.5s;
}
/* inicio de banner */
.banner {
    width: 80%;
    height: calc(100vh - 7em);
    background-color: rgb(243, 103, 241);
    /* background-image: url(../img/banner.png); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-banner {
    font-size: 3em;
}
.btn-banner {
    background-color: brown;
    text-decoration: none;
    padding: 1em 4em;
    color: aliceblue;
    font-size: 1.25em;
    margin: 1em 0;
    border-radius: 0.5em;
}
.btn-banner:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
/* inicio de articulo */
.article {
    width: 80%;
    height: 100vh;
    background-color: rgb(28, 192, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-article {
    font-size: 2em;
}
.paragraph-article {
    font-size: 1.25em;
    width: 80%;
    text-align: justify;
}
.galery {
    width: 80%;
    height: 40%;
    background-color: rgb(204, 157, 249);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-galery {
    width: 24%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.box-img {
    width: 100%;
    height: 60%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-img img {
    object-fit: cover;
    height: 100%;
}
.btn-img {
    background-color: brown;
    text-decoration: none;
    padding: 0.5em 3em;
    color: aliceblue;
    font-size: 1em;
    margin: 1.25em 2em;
    border-radius: 0.5em;
}

/* inicio de footer */
.footer {
    width: 80%;
    height: 4em;
    background-color: rgb(87, 193, 65);
}