/* CSS */
* {
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 1250px;
    height: 1800px;
    background-color: aquamarine;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    height: 7%;
    background-color: #868484;
    border-radius: 1em;
    margin: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

#header-1 {
    height: 30%;
    width: 30%;
    background-color: #A4A4A4;  
    border-radius: 1em;
    margin: 1em;
}

#nav {
    height: 12%;
    background-color: #868484;
    border-radius: 1em;
    margin: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

#foto {
    height: 70%;
    width: 96%;
    background-color: #A4A4A4;  
    border-radius: 1em;
    margin: 1em 0 1em 1em;
}

#contenido {
    height: 50%;
    background-color: #868484;
    border-radius: 1em;
    margin: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

#section-1 {
    height: 30%;
    width: 98%;
    background-color: #6ed7f1;
    border-radius: 1em;
    margin: 1em;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articulo {
    width: 40%;
    height: 85%;
    color: white;
    background-color: #A4A4A4;
    margin: 1em;
    border-radius: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

#section-2 {
    height: 30%;
    width: 98%;
    background-color: #A4A4A4;
    color: white;
    border-radius: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    align-content: center;
}

.acer-1 {    
    width: 60%;
    height: 85%;
    color: white;
    background-color: #47e862;
    margin: 1em;
    border-radius: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

.acer-2 {
    width: 30%;
    height: 85%;
    color: white;
    background-color: #04c323;
    margin: 1em;
    border-radius: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}

#section-3 {
    height: 30%;
    width: 98%;
    background-color: #A4A4A4;
    color: white;
    border-radius: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra los elementos verticalmente */
    font-size: 20px;
    align-content: center;
}

.text, .map {
    color: white;
    background-color: #7af3f3;
    margin: 1em;
    border-radius: 1em;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.text {
    width: 25%;
    height: 20%;
}

.map {
    width: 85%;
    height: 70%;
}

#footer {
    height: 10%;
    background-color: #868484;
    color: white;
    border-radius: 1em;
    margin: 1em;
    color: white;
    font-size: 20px;
    align-content: center;
}